.menu {
    text-align: center;
    margin: 20px;
    color: black;
    font-size: 2vw;
    float: center;
    padding: 50px;
    
}
.entrer{
    text-align: center;
}

.head{
    color: black;
}
.ap{
    text-align: center;
}
.presentation{
    margin: 80px;
    
}
.couleur{
    background-color: rgb(13, 1, 1);
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    
}
h1{
    text-align: center;
   
    font-family: verdana;
    font-size: 200%;
    color: white;
}
h2{
    text-align: center;
   
    font-family: verdana;
    font-size: 180%;
    color: white;
}
h3{
    text-align: justify;
   
    font-family: verdana;
    font-size: 130%;
    color: white;
}
h4{
    text-align: center;
   
    font-family: verdana;
    font-size: 190%;
    color: rgb(28, 146, 28);
}
h5{
    text-align: center;
   
    font-family: verdana;
    font-size: 190%;
    color: rgb(176, 210, 192);
}

h6{
    text-align: center;
   
    font-family: verdana;
    font-size: 110%;
    color: white;
}

.aa{
    text-align: center;
    font-family:sans-serif;
    font-size: 100%;
    color: rgb(159, 183, 75);
    line-height: 3rem;
}

p {
    font-size: 200%;
    border: 2px solid powderblue;
    padding: 60px;
    border: 2px solid rgb(26, 29, 30);
    margin: 20px;
    color: white;
}
a, h2, iframe{
    color: white;
}
li{
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
}
.coco{
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
    padding-left: 500px;
    text-align: justify;
}
.coc{
    color: rgb(255, 255, 255);
    font-size: 1.8vw;
    text-align: justify;
}

.haute {
    font-size: 1.5vw;
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 2vw;
    float: center;
    padding: 50px;
    padding-left: 600px;
}

.ga{
    color: rgb(255, 255, 255);
    font-size: 2vw;
    padding-right: 1000px;
    margin: -10px;
}
button{
    width: 10em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px rgb(49, 49, 131),
    -6px -6px 12px rgb(46, 46, 104)
}
button::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #3d0e94 0%, #f5f4ef 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
button:hover::before{
    width: 12em;
}



ygygy

.haute {
    width: 10em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px rgb(130, 16, 18),
    -6px -6px 12px rgb(46, 46, 104)
}
.haute::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #3d0e94 0%, #f5f4ef 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.haute:hover::before{
    width: 12em;
}

.haut {
    padding: 20px;
  
}

body {
    padding: 16px;

}

.social_links img{
    height: 30px;
    margin: 20px;
    cursor: pointer;
}

.social_links{
    text-align: center;
}


.wzb{
   right: -500px;
   width: 3em;
   height: 3em;
   border-radius: 30em;
   font-size: 15px;
   border: none;
   position: relative;
   cursor: pointer;
   overflow: hidden;
   z-index: 1;
   box-shadow: 6px 6px 12px rgb(49, 49, 131),
   -6px -6px 12px rgb(46, 46, 104)
}
.ipssi1{
    font-size: 20px;
    line-height: 3rem;
}
.ipssi2{
    font-size: 20px;
    line-height: 3rem;
}
.ipssi3{
    font-size: 20px;
    line-height: 3rem;
}
.ipssi4{
    font-size: 20px;
    line-height: 3rem;
}
.ipssi{
    margin: 0 auto;
    padding: 100px 0 0 0;  
}





@media only screen and (max-width:700px){
    nav .menu{
        width: 100%;
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff
    }
    .menu{
        display: block;
        flex: 1;
        text-align: left;
        width: 80%;
        align-items: center;
        line-height: 60px;
        letter-spacing: 1em;
       
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
        
    }
    .col-2{
        right: -50px;
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .controller{
        width: 67%;
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    h1{
        text-align: center;
        font-family: verdana;
        font-size: 200%;
        color: white;
    }
    h2{
        text-align: center;
        font-family: verdana;
        font-size: 180%;
        color: white;
    }
    h3{
        text-align: center;
        font-family: verdana;
        font-size: 90%;
        color: white;
    }
    h4{
        text-align: center;
        font-family: verdana;
        font-size: 120%;
        color: rgb(28, 146, 28);
    }

    h6{
        text-align: center;
       
        font-family: verdana;
        font-size: 90%;
        color: white;
    }
    li{
        text-align: center;
        font-family: verdana;
        font-size: 120%;
        color: white;
    }
    .top{
        width: 480px;
        height: 500px;
    }
    .topp{
        width: 280px;
        height: 120px;
    }
    a{
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 120%;
        color: rgb(181, 147, 220);
    }
    .wzb{
        right: -150px;
    }
    .ipssi1{
        font-size: 20px;
        line-height: 3rem;
    }
    .ipssi2{
        font-size: 20px;
        line-height: 3rem;
    }
    .ipssi3{
        font-size: 20px;
        line-height: 3rem;
    }
    .ipssi4{
        font-size: 20px;
        line-height: 3rem;
    }
    html{
        margin: 0 auto;
        padding: 0 20px 20px 20px;
        border: 5px solid black;
    }


    .ipssi{
        margin: 0 auto;
        padding: 60px 0 0 0;  
}


}


